<div class="container">
    <mat-card class="cardOne">
        <p><b><span>D</span>&nbsp;Dashup</b></p>
    </mat-card>
    <div class="nextLine">
        <p>PAGES</p> <mat-icon>search</mat-icon>
    </div>

    <mat-card class="cardTwo">
        <ul>
            <li>&nbsp;<mat-icon class="icon">monetization_on</mat-icon>Sales</li>
            <ul>
                <li>&nbsp;<mat-icon class="icon">web</mat-icon>Onboarding</li>
                <li>&nbsp;<mat-icon class="icon">alt_route</mat-icon>User Flow</li>
            </ul>
        </ul>
        <p style="margin-left: 25px;display: inline-flex;"><mat-icon class="icon">add</mat-icon>Add Task</p>
    </mat-card>

    <mat-card class="cardThree">
        <ul>
            <li>&nbsp;<mat-icon class="icon">payment</mat-icon>Payments</li>
            <ul>
                <li>&nbsp;<mat-icon class="icon">view_week</mat-icon>Leads Board</li>
                <li>&nbsp;<mat-icon class="icon">analytics</mat-icon>Analytics</li>
            </ul>
        </ul>
        <p style="margin-left: 25px;display: inline-flex;"><mat-icon class="icon">add</mat-icon>Add Task</p>
    </mat-card>

    <mat-card class="cardFour">
        <ul>
            <li>&nbsp;<mat-icon class="icon">monetization_on</mat-icon>Sales</li>
            <ul>
                <li>&nbsp;<mat-icon class="icon">web</mat-icon>Onboarding</li>
                <li>&nbsp;<mat-icon class="icon">alt_route</mat-icon>User Flow</li>
            </ul>
        </ul>
        <p style="margin-left: 25px;display: inline-flex;"><mat-icon class="icon">add</mat-icon>Add Task</p>
    </mat-card>

</div>
