<div class="nav-container">
    <mat-card class="nav-card " fxLayout="row">
        <div class="nav-log">
            <img src="./../../assets/img/cc.png">
        </div>
        <div class="nav-text" fxLayoutGap="650px">
            <br><br>
            <p><b>Covert Cost</b></p>
            <p>In Progress</p>
        </div>
        <div class="navRight">
            <mat-icon>tune</mat-icon>
        </div>
        <div class="navRight">
            <mat-icon>local_offer</mat-icon>
        </div>
        <div class="navButton">
            <button mat-flat-button color="primary" style="background-color: #377aea;"><mat-icon>add</mat-icon>Add Task</button>
        </div>
        <div class="navRight">
            <mat-icon>settings</mat-icon>
        </div>
    </mat-card>
</div>
<div class="container" fxLayout="row" fxLayoutGap="15px">
    <div class="item">
        <h2>Backlog</h2>
        <div class="inside">
            <div
            class="dropZone"
            cdkDropList
            #backlogList="cdkDropList"
            [cdkDropListData]="backlog"
            [cdkDropListConnectedTo]="[inProgressList, inReviewList, finishedList]"
            (cdkDropListDropped)="drop($event)">
                <mat-card class="card" *ngFor="let item of backlog; let i = index" cdkDrag>
                    <mat-card-header>
                        <mat-card-title>
                                <span class="headerIcon">+ Add Tag</span>
                        </mat-card-title>
                       
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{item}}</p>
                    </mat-card-content>
                    <mat-footer>
                        <div class="footerIcon">
                            <select (change)="fromBacklog(i, $event.target.value)">
                                <option value="Backlog">Backlog</option>
                                <option value="workInProgress">Work in Progress</option>
                                <option value="inReview">In Review</option>
                                <option value="finished">Finished</option>
                            </select>
                            <mat-icon>attach_file</mat-icon>
                            <mat-icon>insert_comment</mat-icon>
                        </div>

                    </mat-footer>
                </mat-card>
            </div>
            <div class="addTask">
                <button mat-stroked-button color="primary" style="width: 100%;"><mat-icon class="addIcon">add</mat-icon>&nbsp;Add another task</button>
            </div>
        </div>
    </div>
    <div class="item">
        <h2>Work in progress</h2>
        <div class="inside">
            <div
            class="dropZone"
            cdkDropList
            #inProgressList="cdkDropList"
            [cdkDropListData]="inProgress"
            [cdkDropListConnectedTo]="[backlogList, inReviewList, finishedList]"
            (cdkDropListDropped)="drop($event)">
                <mat-card class="card" *ngFor="let item of inProgress; let i = index" cdkDrag>
                    <mat-card-title>
                    <span class="headerIcon">+ Add Tag</span>
                    </mat-card-title>
                    <mat-card-content>
                        <p>{{item}}</p>
                    </mat-card-content>
                    <mat-footer>
                        <div class="footerIcon">
                            <select (change)="fromInProgress(i, $event.target.value)">
                                <option value="workInProgress">Work in Progress</option>
                                <option value="Backlog">Backlog</option>
                                <option value="inReview">In Review</option>
                                <option value="finished">Finished</option>
                            </select>
                            <mat-icon>attach_file</mat-icon>
                            <mat-icon>insert_comment</mat-icon>
                        </div>
                    </mat-footer>
                </mat-card>
            </div>
            <div class="addTask">
                <button mat-stroked-button color="primary" style="width: 100%;"><mat-icon>add</mat-icon>&nbsp;Add another task</button>
            </div>
        </div>
    </div>
    <div class="item">
        <h2>In Review</h2>
        <div class="inside">
            <div
            class="dropZone"
            cdkDropList
            #inReviewList="cdkDropList"
            [cdkDropListData]="inReview"
            [cdkDropListConnectedTo]="[backlogList, inProgressList, finishedList]"
            (cdkDropListDropped)="drop($event)">
                <mat-card class="card" *ngFor="let item of inReview; let i = index;" cdkDrag>
                    <mat-card-title>
                    <span class="headerIcon">+ Add Tag</span>
                    </mat-card-title>
                    <mat-card-content>
                        <p>{{item}}</p>
                    </mat-card-content>
                    <mat-footer>
                        <div class="footerIcon">
                            <select (change)="fromInReview(i, $event.target.value)">
                                <option value="inReview">In Review</option>
                                <option value="Backlog">Backlog</option>
                                <option value="workInProgress">Work in Progress</option>
                                <option value="finished">Finished</option>
                            </select>
                            <mat-icon>attach_file</mat-icon>
                            <mat-icon>insert_comment</mat-icon>
                        </div>
                    </mat-footer>
                </mat-card>
            </div>
            <div class="addTask">
                <button mat-stroked-button color="primary" style="width: 100%;"><mat-icon>add</mat-icon>&nbsp;Add another task</button>
            </div>
        </div>
    </div>
    <div class="item">
        <h2>Finished</h2>
        <div class="inside">
            <div
            class="dropZone"
            cdkDropList
            #finishedList="cdkDropList"
            [cdkDropListData]="finished"
            [cdkDropListConnectedTo]="[backlogList, inProgressList, inReviewList]"
            (cdkDropListDropped)="drop($event)">
                <mat-card class="card" *ngFor="let item of finished; let i = index" cdkDrag>
                    <mat-card-title>
                    <span class="headerIcon">+ Add Tag</span>
                    </mat-card-title>
                    <mat-card-content>
                        <p>{{item}}</p>
                    </mat-card-content>
                    <mat-footer>
                        <div class="footerIcon">
                            <select (change)="fromFinished(i, $event.target.value)">
                                <option value="finished">Finished</option>
                                <option value="Backlog">Backlog</option>
                                <option value="workInProgress">Work in Progress</option>
                            </select>
                            <mat-icon>attach_file</mat-icon>
                            <mat-icon>insert_comment</mat-icon>
                        </div>
                    </mat-footer>
                </mat-card>
            </div>
            <div class="addTask">
                <button mat-stroked-button color="primary" style="width: 100%;"><mat-icon>add</mat-icon>&nbsp;Add another task</button>
            </div>
        </div>
    </div>
</div>